.main-header{
    width: 100%;
    background-color: #f9f9f9;
    box-shadow: 2px 2px 10px gray;
    position: sticky;
    top: 0;
    position: relative;
}
.navbar{
    display: flex;
    align-items: center;
    padding: 20px;
    justify-content: space-between;
}
.main-menu{
    display: flex;
    align-items: center;
    gap: 30px;
}
.main-item{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    position: relative;
}
.main-item li{
    list-style: none;
    text-decoration: none;
}
.main-item li a{
    text-decoration: none;
    color: #160140;
}
.main-item li a:hover{
    color: #014213;
}
.dropdown-menu{
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    border-radius: 8px;
    padding: 15px;
    width: 200px;
    box-shadow: 2px 2px 10px grey;
    top: 30px;
    left: 55px;
    z-index: 1000;
}
.dropdown li{
    margin-bottom: 10px;
    position: relative;
}
.dropdown:hover ul{
    display: block;
}
.bookmodal{
    padding: 15px 25px;
    background-color: #017e24;
    color: white;
    font-size: 16px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
}
.bookmodal:hover{
    background-color: #014213;
    color: #ecebeb;
}